@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lato&display=swap");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

main {
  flex-grow: 1;
}

/* Borrowed color picker css from  https://stackoverflow.com/questions/47971289/input-type-color-styling*/
#chooseColor {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

#chooseColor::-webkit-color-swatch-wrapper {
  padding: 0;
}
#chooseColor::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

.title {
  font-family: "Gochi Hand", cursive;
  font-size: 4rem;
}

.gochi-hand-font {
  font-family: "Gochi Hand", cursive;
}

.list-title {
  font-size: 1.5rem;
}

.remove-task,
.remove-list {
  color: black;
}

.remove-list:hover {
  font-weight: bolder;
}

.remove-list:focus {
  outline: none;
  box-shadow: none;
}

.remove-task:hover {
  color: red;
}

/* borrow from  https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
.checkbox-container {
  display: inline;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
/* .checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-width {
  width: 250px;
}

.item-div {
  box-shadow: none;
  border: none;
  transition: ease;
  transition-duration: 0.5s;
}

.item-div:hover {
  box-shadow: 0 0 2px 5px lightblue;
}

/* * {
  outline: 1px solid red;
} */

/* .task-div {
  border: 2px solid black;
} */

/* .btn {
  width: 10px;
  height: 10px;
} */
